@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Custom styles in resources/css/app.css */
@import "bootstrap-icons/font/bootstrap-icons.css";

.password-toggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    z-index: 10;
}

.password-toggle:hover {
    color: #0d6efd;
}
